.navbar {
    margin-bottom: 0;
    background-color: #e8a859;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.428590143 !important;
    letter-spacing: 0.5px;
    border-radius: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.well-large {
    background-color: transparent !important;
    border-color: transparent !important;
}

body>h1 {
    font-family: 'Lobster', cursive;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #e8a859 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
    background-color: rgba(0%, 0%, 0%, 0.90);
}

.icon-bar {
    color: #fff;
    background-color: #fff;
}

.jumbotron {
    /*background-color: #e8a859;*/
    /* Orange */
    background-image: url("/images/DSC_4150.jpg");
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

.jumbotron h3 {
    background-color: rgba(0%, 0%, 0%, 0.4) !important;
    padding: 5px;
}

.carousel-caption {
    background-color: rgba(0%, 0%, 0%, 0.40) !important;
    font-size: 10pt !important;
}

footer .glyphicon {
    font-size: 40px;
    margin-bottom: 20px;
    color: #f4511e;
}

footer p {
    font-family: 'Lobster', cursive;
}

.carousel-img{
	 max-width: auto;
	 max-height: 40vh !important;
	 margin: auto;
	 object-fit: cover;
}

.carousel-img-center{
	max-height: 70vh !important;
}

.modal{
	margin-top: 50px;
}

.mirror-y{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.rotate-90{
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.rotate-270{
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

footer{
	margin-top: 30px;
}

.spacer{
		display: block; height : 50px;
	}

@media (max-width : 1300px){
	.spacer{
		display: block; height : 100px;
	}
}

@media (max-width : 940px){
	.spacer{
		display: block; height : 150px;
	}
}

.rotate{
	cursor: pointer;
	font-size: 20pt;
}

.villecontainer{
	margin: 10px;
}
.villes{
    font-family: 'Montserrat', sans-serif;
	font-size: 15pt;
}